:root {
  --cor1: #121212;
  --cor2: #151515;
  --cor-azul: #00D2DF;
  --cor-cinza: #C4C4C4;
  --corbranca: #ffffff;
  --radius: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@300;400;500;600;700;800&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--cor1);
  overflow-x: hidden;

}

header {
  position: relative;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header>h1 {
  font: 500 normal 24px/29px Inter;
  color: var(--cor-azul);
}

.header>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
}

.header>ul>li {
  list-style: none;
}

.header>ul>li>a {
  text-decoration: none;
  font: 500 normal 18px/22px Inter;
  color: var(--cor-cinza);
  position: relative;
}.header>ul>li>a:hover {
 color: var(--cor-azul);
}
.header>ul>li>a:hover::after{
  position:absolute ;
  top: 26px;
  content: '';
  height: 1.4px;
  left: 50%;
  transform: translateX(-50%);
  background-color:var(--cor-azul);
  animation: muda 0.3s ease-in forwards;
}
@keyframes muda {
  from{

    width: 0%;
  }
  to{
    width: 100%;
  }
}

header::before {
  position: absolute;
  bottom: 0;
  content: '';
  display: flex;
  width: 80%;
  height: 2px;
  background-color: var(--cor2);
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  width: 100%;
}

.btndeg {
  width: max-content;
  height: 49px;
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-image: linear-gradient(168deg, var(--clr), var(--clr2));
  border: none;
  cursor: pointer;
}

.btndeg>a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font: 600 normal 16px/19px Inter;
  color: var(--corbranca);
  padding: 0 32px;
  height: 45px;
  background-color: var(--cor1);
  border-radius: var(--radius);
}

.btndeg>a>svg {
  width: 24px;
  height: 24px;
}

.fotoproj {
  width: 530px;
  height: 200px;
  background: var(--cor1);
  border-radius: var(--radius);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-azul);
}

.fotoproj::after {
  position: absolute;
  left: 0;
  content: '';
  height: 100%;
  top: 0;
  width: 4px;
  background-color: var(--cor-azul);
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.projeto {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 80px;
}

.projeto h2 {
  font: 500 normal 24px/29px Inter;
  color: var(--corbranca);
  margin: 40px 0px 30px 0px;
}

.projeto p {
  font: 300 normal 16px/26px Inter;
  color: var(--cor-cinza);
  margin-bottom: 26px;
}

.projeto h3 {
  margin-bottom: 32px;
  font: 500 normal 14px/24px Inter;
  color: var(--cor-azul);
}



@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header{
    justify-content: center;
  }
  .header>ul {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .btndeg {
    width: max-content;
    height: 40px;
    padding: 0 2px;
  }
  
  .btndeg>a {
    gap: 14px;
    font: 500 normal 14px/17px Inter;
    width: max-content;
    height: 36px;
  }
  
.fotoproj {
  width: 312px;
  height: 130px;
}

.projeto {
  max-width: 312px;
  margin-bottom: 40px;
}

.projeto h2 {
  font: 500 normal 16px/19px Inter;
  margin: 24px 0px 16px 0px;
}

.projeto p {
  font: 300 normal 14px/18px Inter;
  margin-bottom: 8px;
}


}